body
{background-repeat: no-repeat;
background-size: cover;
}
h1
{
color: black;
text-align: center;
font-size: 25px;
}
p
{
line-height:25px;
text-align: justify;
font: 150% sans-serif;
}
ul li
{
  font:oblique bold 120% sans-serif;
  line-height:20px;
}
.cabecera
{
position: relative;
width: :auto;
height:130px;
background:orange ;
}
.navigator ul li
{
  display: flex;
  align-items: center;
  position:relative;
  top:50px;
  display: inline-block;
  background: white;
  margin:0px;
  width: 80px;
  text-align: center;
  color: black;
  border:5px ridge orange;
  font:menu;
}
.javier
{
  position:relative;
  width: 150px;
  height: 150px;
  bottom: :200px;
  border: 2px solid orange
  top:10px;
  left: 10px;
  top:10px;
  border:2px solid orange;
}
.titulocab
{ position: relative;
  display: flex;
  justify-content:center;
  bottom: 100px;
  color: black;
  font: oblique 150% sans-serif;
}
.container
{
position: relative;
top:50px;
display: flex;
flex-direction: row;

}
.caja1
{
position: relative;
width: 25%;
height: auto;
margin: 2px;
padding: 5px;
border: 5px ridge orange;
background-color: white;
opacity: 0.8;
}
.caja2
{
position: relative;
width: 80%;
height: 70%;
margin: 2px;
padding: 5px;
border: 5px ridge orange;
background-color: white;
opacity: 0.8;
}
.enlaces
{
  position: relative;
  display: flex;
  justify-content: center;
  top:50px
}
.github
{
  width: 35px;
  height: 35px;
  border: 5px double black;
}
.linkedin
{
  width: 35px;
  height: 35px;
  border: 5px double black;
}
.formulario
{
  position: relative;
  display: flex;
  justify-content: center;
  top:50px;
  background: ;
  bottom: 15px;
  padding:15px;
  border: 5px ridge orange;
  width: 50%;
  height: 70px;
  left:24%;
  background-color:white;
  opacity:0.8
}
.textform
{
  display: flex;
  justify-content: center;
}
.enviar
{
  display: flex;
  justify-content: center;
}
.pie
{
  position: relative;
  top:45px;
  display: flex;
  justify-content:center;
}
@media screen and (min-width:1000px)
{

}
@media screen and (min-width:768px)
{

}
@media screen and (min-width:480px)
{
  
}
